html,body{
  width: 100%;
  background-color: silver;
}

header{
  height: 200px;
}

.title{
  float: right;
}

.title h1{
  font-size: 50px;
  border-bottom: 5px solid rgba(0, 0, 0);
  padding-right: 100px;
  padding-top: 50px;
}

.introduce{
  height: 80vh;
  background-color: white;
}

.message1{
  font-size: 25px;
  float: right;
  padding: 2%;
  color: dimgray;
  font-weight: bold;
  font-family: sans-serif;
  width: 50%;
}

.message1 p{
  word-break: keep-all;
}

.image1{
  width: 35%;
  float: left;
  padding: 5%;
}

.introduce2{
  height: 80vh;
}

.message2{
  font-size: 25px;
  float: left;
  padding: 2%;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  width: 50%;
}

.message2 p{
  word-break: keep-all;
}

.image2{
  width: 35%;
  float: right;
  padding: 5%;
}


footer{
  height: 150px;
  background-color: white;
}

footer p{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
  color: black;
}

.under-line{
  text-decoration: underline;
  color: black;
}

footer a{
  color: black;
  transition: 0.5s;
}

footer a:hover{
  cursor: pointer;
  transform: translateY(-5px);
}

.twitter:hover{
  color: blue;
  text-decoration: none;
}

.insta:hover{
  color: red;
  text-decoration: none;
}

.facebook:hover{
  color: navy;
  text-decoration: none;
}


.clear{
  clear: left;
}
