.container{
  width: 100%;
}

header{
  background-color: silver;
  height: 200px;
}
.title{
  float: right;
}

.title h1{
  font-size: 50px;
  border-bottom: 5px solid rgba(0, 0, 0);
  padding-right: 100px;
  padding-top: 50px;
}

.introduce{
  height: 500px;
  padding-top: 1px;
  background-color: white;
  padding-bottom: 10px;
}

.introduce p{
  font-size: 25px;
  float: right;
  padding: 20px;
  color: dimgray;
  font-weight: bold;
  font-family: sans-serif;
}

.image1{
  width: 45%;
  float: left;
  padding: 30px;
}

.introduce2{
  height: 350px;
  padding-top: 25px;
}

.introduce2 p{
  font-size: 25px;
  float: left;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.image2{
  width: 45%;
  float: right;
  padding: 5px;
}

footer{
  height: 200px;
  background-color: white;
}

footer p{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 200px;
  text-align: center;
  padding-top: 80px;
  color: black;
}

.under-line{
  text-decoration: underline;
  color: black;
}

footer a{
  color: black;
}



body{
  background-color: silver;
}

.clear{
  clear: left;
}
